/*
Esquema de cores do site.

Roxo ="#5b5cf9"
amarelo ="#5b5cf9"
o branco = ffffff */

body{
  font-family: 'Manrope', sans-serif;
}

img{
  height: 100%;
}

:root {
  --roxo: #5b5cf9;
  --amarelo: #ffc83c;
}

section, h1, h2 {
  color: var(--amarelo);
}

a{
  text-decoration: none;
}
