/* HEADER */

header {
    background-color: #ffc83c;
    padding: 26px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo {
    width: 80%;
    margin: 0 auto 0 auto;
    max-width: 71.25rem;
    min-width: 60%;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
}

.botoes-loja {
    display: flex;
}

#unica {
    margin: 31px;
}

.linksMeioHeader {
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-family: 'Manrope', sans-serif;
}

#linkappStore {
    padding-left: 12px;
}

/* COMECO PRIMEIRA SECTION*/

#apresentacao {
    background-image: url('../img/backImg.png');
    background-size: cover;
    padding-top: 2rem;
    height: 100vh;
}

#imagemNomeLogo {
    display: flex;
    justify-content: center;
}

#textoTelefone {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoTelefone p {
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

/* COMECO SEGUNDA SECTION*/

.funcionalidades {
    height: 70vh;
}

.funcionalidades h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.colunas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-funcionalidades {
    margin-right: 0;
}

.funcionalidades-texto, .texto-secao-chat {
    font-size: 2.5rem;
    width: 45%;
    margin: auto;
    line-height: 4rem;
}

li img {
    width: 2rem;
    margin-right: .55rem;
}

#onibusinho {
    height: 33rem;
}

#imagemFundoAmarela {
    width: 100%;
}

/* COMECO TERCEIRA SECTION*/

.secao-chat {
    background-image: url("../img/imagemFundoAmarela.png");
    background-size: cover;
    padding: 3rem 0;
}

.celular-linhas img {
    height: 50rem;
}

.texto-secao-chat {
    width: 80%;
    color: var(--roxo);
}

.texto-secao-chat p {
    text-align: right;
}

/* COMECO QUARTA SECTION*/

#imagensFinalPag {
    justify-content: right;
}

#imagemTeleComApp {
    height: 30rem;
    padding-top: 3rem;
}

.baixar-app p {
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
}

}